<div *ngIf="event" class="container py-4" style="max-width: 720px; margin: auto;">

  <div class="d-flex justify-content-between align-items-center flex-wrap mb-2">
    <h2 class="fw-bold mb-0">{{ event.tag }}</h2>
    <div class="text-muted small">
      📅 {{ event.date | date:'fullDate' }} • 🕒 {{ event.startTime }} – {{ event.endTime || '...' }}
    </div>
  </div>

  <p>
    📍 {{ event.placeName }} ({{ event.location }})<br />
  </p>

  <div *ngIf="event?.latitude && event?.longitude" id="eventMap" style="height: 300px;"></div>

  <hr />

  <p>{{ event.description }}</p>

  <hr />

  <h5>Participants ({{ event.participants.length }}/{{ event.maxParticipants }})</h5>
  <div class="d-flex flex-wrap gap-2">
    <img *ngFor="let p of event.participants"
         [src]="'http://localhost:8080/uploads/photos/' + p.photoFilename"
         alt="avatar"
         class="rounded-circle"
         width="48" height="48"
         onerror="this.src='assets/default-avatar.png'">
  </div>

    <!-- 👇 Affiche le bouton uniquement si l'utilisateur est inscrit -->
  <div *ngIf="hasUserParticipated(event)">
    <a [routerLink]="['/chat', event.id]" class="btn btn-primary mt-3">
      Accéder au chat 💬
    </a>
  </div>

  <hr />

  <div *ngIf="event.imageUrl" class="text-center mb-3">
    <img [src]="getImageUrl(event.imageUrl)"
        alt="Image de l’événement"
        class="img-fluid rounded"
        style="max-height: 300px;">
  </div>

  <hr />

  <button class="btn btn-primary" *ngIf="!hasUserParticipated(event)" (click)="participate(event)">Participer</button>
  <button class="btn btn-danger" *ngIf="hasUserParticipated(event)" (click)="withdraw(event)">Se désinscrire</button>


</div>
