<nav class="navbar navbar-expand-lg bg-light-yellow px-4 py-2 shadow-sm">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand fw-bold text-dark fs-4" routerLink="/">Chill and Go</a>

    <!-- Toggle button (mobile) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav align-items-center gap-3">
        
        <!-- Non connecté -->
        <ng-container *ngIf="!isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/signup">Inscription</a>
          </li>
        </ng-container>

        <!-- Connecté -->
        <ng-container *ngIf="isLoggedIn()">
          <li class="nav-item">
            <a class="nav-link" routerLink="/create-event">Créer une activité</a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-1" routerLink="/contacts">
              <i class="bi bi-people-fill"></i> Contacts
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex align-items-center gap-1" routerLink="/groupes">
              <i class="bi bi-journal-text"></i> Groupes
            </a>
          </li>
          <button type="button" class="btn btn-outline-danger" *ngIf="isLoggedIn()" (click)="logout()">
        Se déconnecter
        </button>
          <!-- Avatar + nom -->
           
          <li class="nav-item d-flex align-items-center">
            <img *ngIf="user?.photoFilename"
            [src]="'http://localhost:8080/uploads/photos/' + user.photoFilename"
            alt="Profil"
            class="rounded-circle me-2"
            width="36"
            height="36"
            />
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</nav>
